.node__root > circle {
  fill: yellow;
}

.node__branch > circle {
  fill: yellow;
}

.node__leaf > circle {
  fill: green;
  /* Let's also make the radius of leaf nodes larger */
  r: 40;
}

.node--modified > circle {
  fill: orange !important;
  stroke: #cc7a00;
  stroke-width: 2px;
}

.node--added circle {
  fill: #00cc66;
  stroke: #00994d;
  stroke-width: 2px;
}

.node--default circle {
  fill: yellow;
}

.node--modified text {
  fill: orange;
  font-weight: bold;
}

.node--added text {
  fill: green;
  font-weight: bold;
}
